@import '../../../scss/defaultStyle.scss';

.textarea-container{
    width: 100%;
    margin-block: 1rem;
    display: flex;
    flex-direction: column;

    textarea{
        margin-bottom: 0.5rem;
        background-color: rgba($secondary, 0.2);
    }
}