.input-div{
    display: flex;
    flex-direction: column;

    label{
        margin-right: 1rem;
    }
    input{
        margin-right: 1rem;
    }
}

.radio {
    width: max-content;
    flex-direction: row;
    justify-content: space-between;

}