@import '../../scss/defaultStyle.scss';

#modal {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($secondary, 0.2);
    backdrop-filter: blur(20px);
    z-index: 10;
    animation: popup 500ms ease;

    .modal-content {
        width: clamp(300px, 80%, 600px);
    }
}

@keyframes popup {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.fixed {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 0.3rem;
    background-color: transparent;
    border: 1px solid $otherButton;
    color: $secondary;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms ease all;

    &:hover{
        color: $primary;
        background: $otherButton;
    }
}