@import '../../scss/defaultStyle.scss';

.resetPasswordContainer{
    background: linear-gradient($primary, $secondary);
    padding: 2rem;
    border-radius: 20px;
    color: $secondaryText;

    .radio-inputs{
        display: flex;
    }
    .submit-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
}