@import '../../scss/defaultStule.scss';

.resetPasswordContainer{
    background: linear-gradient($primary, $secondary);
    padding: 2rem;
    border-radius: 20px;
    color: $secondaryText;

    h2{
        text-align: center;
        margin-bottom: 1rem;
        color: $h1;
    }

    .radio-inputs{
        display: flex;
    }
    .submit-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
}