@import '../../../scss/defaultStyle.scss';

.succes-button{
    background-color: $buttonSecondary;
    border: 1px solid $otherButton;
    border-radius: 10px;
    padding: 0.3rem;
    color: $otherButton;
    font-size: 1.5rem;
    margin-block: 1rem;
    transition: 300ms all;

    &:hover{
        transition: 300ms all;
        border: 1px solid $buttonSecondary;
        color: $buttonSecondary;
        background-color: $otherButton;
        cursor: pointer; 
    }
}

.disabled{
    font-size: 1.5rem;
    margin-block: 1rem;
    border-radius: 10px;
    padding: 0.3rem;
    background-color: $buttonPrimary;
    border: 1px solid $secondary;
    cursor: no-drop;
}

.default{
    width: 100px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 0.3rem;
    font-size: 1.5rem;
    margin: 2rem;
    color: $primaryText;
    cursor: pointer;
}

.danger-button {
    background: $danger;
    padding: 0.2rem 0.4rem;
    border: transparent;
    color: $thirdText;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms ease all;
    
    &:hover{
        color: #fec400;
    }
}

.safe{
    background: $success;
    padding: 0.2rem 0.4rem;
    border: transparent;
    color: $thirdText;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms ease all;
}