@import '../../defaultStule.scss';

section{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient($primary, $secondary);
    padding: #{"max(5%, 2rem)"} #{"max(3%, .5rem)"};

    h1{
        font-family: $secondaryFont;
        color: $h1;
        font-size: clamp(2.2rem, 10vw, 5rem);
        text-align: center;
        margin-bottom: #{"min(5%, 2rem)"};
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form{
        margin: 0 auto;
        width: #{"max(250px, 70vw)"};

        h2{
            text-align: center;
            color: $primaryText;
            font-family: $secondaryFont;
            margin-bottom: 0.5rem;
        }

        .submit{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .radio-inputs{
            display: flex;
        }
    }
}

.linkButton{
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}