@import './defaultStule.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.important-message{
  margin-top: 0.5rem;
  font-style: italic;
  color: $danger;
  font-size: 1.3rem;
}

.invalid-span{
  margin-top: 0.5rem;
  font-style: italic;
  color: $danger;
  font-size: .7rem;
}

.succes-span{
  font-style: italic;
  color: $success;
  font-weight: 600;
  font-size: 1.3rem;
}