@import './scss/defaultStyle.scss';
@import './scss/utilites.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
  user-select: none;
}

section{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient($primary, $secondary);
  padding: #{"max(5%, 2rem)"} #{"max(3%, .5rem)"};
}

h1{
  font-family: $secondaryFont;
  color: $h1;
  font-size: clamp(2.2rem, 10vw, 5rem);
  text-align: center;
  margin-bottom: #{"min(5%, 2rem)"};
}

h2{
  text-align: center;
  color: $primaryText;
  font-family: $secondaryFont;
  margin-bottom: 0.5rem;
}

.important-message{
  margin-top: 0.5rem;
  font-style: italic;
  color: $danger;
  font-size: 1.3rem;
}

.succes-message{
  font-style: italic;
  color: $success;
  font-weight: 600;
  font-size: 1.3rem;
}

.input-invalid{
  @include input($danger, $danger);
}

.default-input{
  @include input();
}

.invalid-input-message{
  margin-top: .5rem;
  font-style: italic;
  color: $danger;
  font-size: .9rem;
  font-weight: 600;
}

label{
  font-family: $primaryFont;
  margin: 0.5rem 0;
  color: $primaryText;
}