$primary: rgb(205, 209, 212);
$secondary: #044a53;

$h1: #044a53;

$buttonPrimary: rgba(0,0,0,0.3);
$buttonSecondary: #fec400; 
$otherButton: #044a53;

$primaryText: rgb(33, 38, 46);
$secondaryText: rgb(128,120,127);
$thirdText: rgb(255, 255, 255);

$danger: rgb(223,69,84);
$success: rgb(40,197,69);
$warning: rgb(255,193,7);

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Itim', cursive;

$border:rgb(212,216,222);